body {
  font-family: "Ysabeau", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-style: bold;
  font-size: 45px;
}

h3 {
  font-size: 15px;
}

button {
  border: none;
  background: none;
}

li {
  list-style: none;
}

.container-mine {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin: 0 auto;
  max-width: 620px;
  margin-top: 15px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/079/646/original/sunrays.png?1682890434");
  background-color: #f9f4bb;
  background-size: cover;
}

.degrees-buttons {
  font-size: 18px;
}

.current-button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

.search-button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

.today-degrees {
  text-align: center;
}

.weather-details-today {
  font-size: 15px;
}

.cloud-icon {
  font-size: 35px;
}

.col-mine {
  text-align: center;
  font-size: 18px;
}

.small-icon {
  font-size: 36px;
  margin-top: 15px;
}

.col-color {
  color: #a9a9a9;
}

.days {
  padding-top: 32px;
}

.title {
  padding-top: 32px;
}

.card-mine {
  background: transparent;
}

.card-text {
  padding-top: 10px;
}

.cloud-icon {
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.source-code-link {
  font-size: 15px;
  padding: 10px;
}
